<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
<div style="text-align: center;">
  <nav class="navbar navbar-expand-lg navbar-dark" style="color: #FFFF; background-color: #333;">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/resume">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
    <style>
      @import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
      body {
    background-image: url("../static/ocean.jpg");
}
.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
    
    </style>

   </head>
   <body>

    <title>Mae Schuttler Projects</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway"}
    </style>
    <body class="w3-light-grey">
    
    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px; padding-top:5em ;">
    
      <!-- The Grid -->
      <div class="w3-row-padding">
    
            
    
        <!-- Right Column -->
        <div class="w3-onethird w3-center">
        
          <div class="w3-container w3-card w3-margin-bottom w3-centered" style="border-radius: 1em;">
            <h1 class="w3-text-grey w3-padding-16 w3-center">Web Design</h1>
            <div class="w3-container">
              <h2 class="w3-text-grey w3-padding-16"><a href="https://tech-knowledge-ease.solutions"><a>Tech Knowledge Ease</a></h2>
              </div>
          
            </div>

            <div class="w3-onethird w3-center">
        
              <div class="w3-container w3-card w3-margin-bottom w3-centered" style="border-radius: 1em;">
                <h1 class="w3-text-grey w3-padding-16 w3-center">Projects</h1>
                <div class="w3-container">
                  <h2 class="w3-text-grey w3-padding-16"><a href="https://tearshedproject.herokuapp.com/">The Tear Shed Project</a></h2>
                  </div>
              
                <h2 class="w3-text-grey w3-padding-16">AstroForecast</h2>

        <!-- End Right Column -->
        </div>
        
      <!-- End Grid -->
      </div>
      
      <!-- End Page Container -->
    </div>
    
    

</body>
</html
