<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <div style="text-align: center;">
      <nav class="navbar navbar-expand-lg navbar-dark" style="color: #FFFF; background-color: #333;">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/resume">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <style>
      @import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
      body {
    background-image: url("../static/ocean.jpg");
}
    </style>

   </head>
   <body>

    <title>Mae Schuttler Resume</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    html,body,h1,h2,h3,h4,h5,h6,p {font-family: "Raleway"}
    </style>
    <body class="w3-light-grey">
    
    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px; padding-top: 5em;">
    
      <!-- The Grid -->
      <div class="w3-row-padding">
      
        <!-- Left Column -->
        <div class="w3-third" style="border-radius: 1em;">
        
          <div class="w3-text-grey w3-card-4 opacity-30" style="border-radius: 1em;">
            <div class="w3-display-container">
              <img src="static/headshot4.png" style="width:100%; padding-top: 2.5em;" alt="Avatar">
              <div class="w3-display-centered w3-container w3-text-grey">
                <h2>Mae Schuttler</h2>
              </div>
            </div>
            <div class="w3-container">
              <p class="w3-text-white">Full Stack Engineer</p>
              <p class="w3-text-white">Portland, OR</p>
              <p class="w3-text-white">mae.schuttler@gmail.com</p>
              <p class="w3-text-white">707-484-9110</p>
              <hr>
    
              <p class="w3-large"><b>Technologies</b></p>
              <p>Highlights</p>
              <li class="w3-text-white">Web Application Development</li>
              <li class="w3-text-white">REST APIs</li>
              <li class="w3-text-white">Integration Testing</li>
              <li class="w3-text-white">Project Management</li>
              <br>
              <p>Languages</p>
              <li class="w3-text-white">Python</li>
              <li class="w3-text-white">JavaScript</li>
              <li class="w3-text-white">TypeScript</li>
              <li class="w3-text-white">C#</li>
              <li class="w3-text-white">.Net</li>
              <li class="w3-text-white">HTML</li>
              <li class="w3-text-white">CSS</li>
              <li class="w3-text-white">SQL</li>
              <br>
              <p>Frameworks, Libraries</p>
              <li class="w3-text-white">Flask</li>
              <li class="w3-text-white">React</li>
              <li class="w3-text-white">SQL Alchemy</li>
              <li class="w3-text-white">DevEx</li>
              <li class="w3-text-white">jQuery</li>
              <li class="w3-text-white">Bootstrap</li>
              <li class="w3-text-white">Jinja</li>

              <br>
              <p>Database, Industry Tools</p>

              <li class="w3-text-white">PostgreSQL</li>
              <li class="w3-text-white">MSSQL</li>
              <li class="w3-text-white">Git</li>
              <li class="w3-text-white">Github</li>
              <li class="w3-text-white">Command Line</li>

              <br>
    
              <p class="w3-large"><b>Languages</b></p>
              <p class="w3-text-white">English</p>
              <p class="w3-text-white">Spanish</p>
              
              
              <br>
            </div>
          </div><br>
    
        <!-- End Left Column -->
        </div>
    
        <!-- Right Column -->
        <div class="w3-twothird">
        
          <div class="w3-container w3-card w3-margin-bottom" style="border-radius: 1em; padding-top: 1em; padding-bottom: 3em" >
            <h2 class="w3-text-grey w3-padding-16">Work Experience</h2>
            <div class="w3-container">
              <h5 class="w3-opacity w3-text-white"><b>SBI Software - Hybrid - Junior Developer</b></h5>
              <h6 class="w3-text-white"></i>February 2023 - Current</h6>
              <p>
                <li style="color: #CCCCCC">Work independently and on a team of developers</li>
                <li style="color: #CCCCCC">Develop full-stack web applications utilizing React, .Net C# and SQL</li>
                <li style="color: #CCCCCC">Create dynamic data-driven content, with a focus on SQL Server backend</li>
                </p>
              <hr>
              <h5 class="w3-opacity w3-text-white"><b>Freelance Web Developer - Remote</b></h5>
              <h6 class="w3-text-white">August 2022 - February 2023</h6>
              <p>
                <li style="color: #CCCCCC">Work with clients to develop web pages through contracted work</li>
                <li style="color: #CCCCCC">Develop full-stack web products utilizing web tools including Squarespace,
                  Weebly, Wix and Wordpress</li>
                </p>
              <hr>
              <h5 class="w3-opacity w3-text-white"><b>Hackbright Academy - Remote - Student Engineer</b></h5>
              <h6 class="w3-text-white">March 2022 - August 2022</h6>
              <p>
                <li style="color: #CCCCCC">Developed and implemented skills in Full Stack Development</li>
                <li style="color: #CCCCCC">Worked collaboratively via pair programming as well as independently to develop a personal capstone project</li>
                </p>
              <hr>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity w3-text-white"><b>Ampjar, Inc - Remote - Customer Success</b></h5>
              <h6 class="w3-text-white">Sept 2020 - Sept 2021</h6>
              <p>
                <li style="color: #CCCCCC">Responded to customer inquiries in a timely and professional manner</li>
                <li style="color: #CCCCCC"> Troubleshot and report bugs to engineering team</li>
                <li style="color: #CCCCCC"> Developed workarounds so that customers were not impacted while bugs were resolved</li>
              </p>
              <hr>
              <!-- <div class="w3-container">
                <h5 class="w3-opacity w3-text-white"><b>Vendini, Petaluma, CA - Venue Builder</b></h5>
                <h6 class="w3-text-white">January 2017-January 2022</h6>
                <p>
                  <li style="color: #CCCCCC">Collect and ship equipment donations to roller derby leagues across the world who face barriers to entry 
                  </li>
                  <li style="color: #CCCCCC"> Liaise with multiple stakeholders, donors and recipients on an international platform</li>
                  <li style="color: #CCCCCC"> Manage website, social media, and merchandise for the project </li>
                </p>
                <hr>
              </div>
            </div> -->
            <!-- <div class="w3-container">
              <h5 class="w3-opacity"><b>Derby Without Borders, Varied Locations - Founder</b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>January 2017-January 2022</h6>
              <p>
                <li>Collect and ship equipment donations to roller derby leagues across the world who face barriers to entry 
                </li>
                <li> Liaise with multiple stakeholders, donors and recipients on an international platform</li>
                <li> Manage website, social media, and merchandise for the project </li>
              </p>
              <hr>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>VOICES Youth Center - Varied Locations, CA— Program and Data Manager
              </b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>March 2014 - March 2020</h6>
              <p>
                <li>Managed a team of nine Youth Case Managers in TAY Homeless Prevention across Alameda, Contra Costa and San  Francisco Counties</li>
                <li>Manage database input, analytics and reports for program funding</li>
                <li>Drafted contracts and MOUs with community partners</li>
                <li>Oversee cohort of former foster youth conducting research to create state-wide legislative reform through qualitative and quantitative data </li>
              </p><br>
            </div>
          </div> -->
    
          <div class="w3-container w3-card" style="border-radius: 1em;">
            <h2 class="w3-text-grey w3-padding-16">Education</h2>
            <div class="w3-container">
              <h5 class="w3-opacity w3-text-light-grey"><b>Hackbright Academy</b></h5>
              <h6 class="w3-text-white">March 2022- June 2022</h6>
              <p class="w3-text-light-grey">Certificate in Fullstack Engineering</p>
              <hr>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity w3-text-light-grey"><b>Goldsmiths University of London</b></h5>
              <h6 class="w3-text-white"> Sept 2017 - Sept 2019</h6>
              <p class="w3-text-light-grey">Masters in Applied Anthropology, Youth Work and Community Development</p>
              <hr>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity w3-text-light-grey"><b>Seton Hall University</b></h5>
              <h6 class="w3-text-white">Sept 2009 - June 2013</h6>
              <p class="w3-text-light-grey">Bachelors in Diplomacy and International Relations</p><br>
            </div>
          </div>
    
        <!-- End Right Column -->
        </div>
        
      <!-- End Grid -->
      </div>
      
      <!-- End Page Container -->
    </div>
    
    

</body>
</html